h1{
    color: darkred;
    font-family:sans-serif;
}

h3{
    color:gray;
    font-family:sans-serif;
}
table.revenue{
    border-spacing:0px;
    border-collapse: collapse;
}

th{
    border-bottom-style:solid;
    border-color:red;
    padding-right:30px;
}

.specialcolor{
    background-color:lightgray;
}

.totalrow{
    border-top-style:solid;
    border-color:#272222;
}
